body {
    height: 100%;
    padding-top: 90px;
}
.content-shadow{
    padding: 15px;
    border: 0;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.btn-perfil{
    cursor: pointer;
}
.margin-bottom{
    margin-bottom: 15px;
}
.text-color-white{
    color: #FFFFFF;
}
body.navbar-more-show  {
    overflow: hidden;
}
.padding-top{
    margin-top: 15px !important;
}
.img-center{
    left: 15%;
    position: absolute;
}
.mobile-icon{
    color:black!important;
}
.mobile-icon:hover{
    color: #F45B69 !important;
}
.columna-clic{
    cursor: pointer;
}
.row{
    margin-bottom: 15px;
}
.fondo-ver{
    background: #F8F9F9; 
}
.comentarios{
    min-height: 500px;
}
.descripcion{
    min-height: 150px;
    padding: 5px;
}
.borde-right{
    border-right: 2px solid #1F8A70;
}
.datos{
    height: 390px;
}
.mascota{
    padding:15px 15px 0 15px;
}
hr{
    background-color: black !important;
}
.linea{
    height: 2px;
    background-color: #1F8A70;  
}
.centro {
    color: #333;
    text-decoration: none;
    font-size: 40px;
    padding: 0 0 6px;
}
.texto-articulo{
    color: #004777;
    font-weight: 900;
    font-style: oblique;
}
.texto-articulo:hover{
    text-decoration: underline;
}
.tabla-articulo{
    margin-bottom: 15px;
}
.fondo-titulo-articulo{
    background-color: #2F4858;
    color: white;
    padding: 5px;
    font-size: 20px;
}
.centro:after {
    content: "";
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    transition: all .8s;
}

.centro:hover:after {
    width: 100%;
    background: #333;
}

#custom_carousel .item  .top {
    overflow:hidden;
    height:300px;
    margin-bottom:15px;
}
#custom_carousel .item {
    color:#000;
    background-color:#fff;
    padding:20px 0;
    overflow:hidden
}
#custom_carousel .item img{
    max-height: 300px;
}

#custom_carousel .izq 
{
    position:absolute;
    left: -25px;
    top:40%;
    background-image: none;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px;
    height: 40px;
    width : 40px;
    margin-top: 30px;
}
#custom_carousel .der 
{
    position:absolute;
    right: -40px;
    top:40%;
    left:inherit;
    background-image: none;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px;
    height: 40px;
    width : 40px;
    margin-top: 30px;
}
#custom_carousel .controls{

    overflow:hidden;
    padding:0;
    margin:0;
    white-space: nowrap;
    text-align: center;
    position: relative;
    background:#fff;
    border:0;
}
#custom_carousel .controls .nav{

    padding:0;
    margin:0;
    white-space: nowrap;
    text-align: center;
    position: relative;
    background:#fff;
    width: auto;
    border: 0;
}
#custom_carousel .controls li {
    transition: all .5s ease;
    display: inline-block;
    max-width: 100px;
    height: 90px;
    opacity:.5;
}
#custom_carousel .controls li a{
    padding:0;
}
#custom_carousel .controls li img{
    width:100%;
    height:auto
}

#custom_carousel .controls li.active {
    background-color:#fff;
    opacity:1;
}
#custom_carousel .controls a small {
    overflow:hidden;
    display:block;
    font-size:10px;
    margin-top:5px;
    font-weight:bold
}
.animate {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.navbar {
    height: calc(100%);
    max-height: 300px;
    -webkit-transform: translate(0px, calc(-100% + 69px));
    transform: translate(0px, calc(-100% + 69px));
}
.navbar .container:not(.navbar-more) {
    padding: 0px;
}
.navbar-more-overlay {
    background-color: rgba(102, 102, 102, 0.55);
    display: none;
    height: 100%;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1029;
}
.navbar-more-show > .navbar-more-overlay {
    display: block;
}
.navbar-more-show > .navbar {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}
.navbar-nav.mobile-bar {
    list-style: none;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-items: stretch;
    align-items: stretch;
    margin: 0px 0px;
}
.navbar-nav.mobile-bar > li {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    text-align: center;
}
.menu-icon{
}
.navbar-nav.mobile-bar > li > a > span.menu-icon {
    display: block;
    font-size: 1.8em;
}
.text-black{
    color:black ;
}
.navbar-more {
    background-color: rgb(255, 255, 255);
    height: calc(100% - 69px);
    overflow: auto;
}
.navbar-more .navbar-form {
    border-width: 0px;
}
.navbar-more .navbar-nav > li > a {
    color: black;
}
.navbar-more > .navbar-nav > li > a > span.menu-icon {
    margin-left: 10px;
    margin-right: 10px;
    color:black;
}

@media (min-width: 768px) {
    .navbar {
        height: auto;
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
    .navbar-nav.mobile-bar {
        display: block;
        max-height: 64px;
        margin: 0px -15px;
    }
    .navbar-nav.mobile-bar > li > a > span.menu-icon {
        display: none;
    }
    #custom_carousel .der{
        right: -20px;
    }
}
@media(max-width: 768px){

    #custom_carousel .der{
        right: -25px;
    }
}

body{
    font-family: Arial,Helvetica,sans-serif;
    padding-bottom: 50px;
}
/*
hr{
    background-color: black;
}*/
.btn-buscar{
    background-color: white;
    padding: 5px 10px!important;
    border-width:2px 1px !important; 
    border-style:solid !important; 
    border-color: #DCE4EC !important;
}
.btn-buscar:hover,
.btn-buscar:focus{
    background-color: #F45B69;
    border-color: #000;
}
.asterisco{
    color: red;
    float: right;
}
header{
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    position: fixed;
    height: 50px;
    background-color: #1F8A70;
    z-index: 999;
}
.header{
    width: 1080px;
    margin: 0 auto;
}
.linkOnRed{
    text-decoration: none;
    color: #1677C6;
}
.linkOnRed:hover{
    text-decoration: underline;
}
.link{
    text-decoration: none;
    color: #1F8A70;
}
.link:hover{
    text-decoration: underline;
}
header .nav-search{
    margin-top: 6px;
    float: left;
}
header .nav-search input[type="text"]{
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #EFE7DA;
    width: 300px;
    outline: 0px;
    font-size: 15px;
}
header .nav-menu-header{
    float: left;
    margin-left: 50px;
    padding-top: 13px;
}
header .nav-menu-header a{
    text-decoration: none;
    color: #FFFFFF;
    margin-right:20px;
    font-size: 14px;
    text-shadow: black 0.1em 0.1em 0.2em;
    height: 30px;
    position: relative;
}
header .nav-menu-header a:hover{
    text-shadow: #287673 0.1em 0.1em 0.2em;
}
header .nav-log-header{
    margin-top: 8px;
    white-space: nowrap;
}
.btn-navbar-header{
    background-color: #074F57;
    color: #FFFFFF;
}
.btn-navbar-header:hover{
    background-color: #00626D;
    cursor: pointer;
}
.btn-login-header:hover{
    background-color: #00626D;
    cursor: pointer;
}
.btn-publicar{
    background: #F45B69;
    padding: 10px 20px 10px 20px;
    display: inline;
    color: #FFFFFF;
    border-radius: 3px;
    font-size: 20px;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
}
.btn-publicar:hover{
    background: #FF7F8A;
    cursor: pointer;
}
.btn-publicar:active{
    top:1px;
    position: relative;
}
.div-por-categoria{
    width: 100% !important;
    background: #EFE7DA;
    height: 200px;
    border:1px solid #BEBEBE;
    border-radius: 4px;
}
h2{
    color: #898989;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: normal;
    top: 0px;
    position: relative;
}
h3{
    color: #898989;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 20px;
    font-weight: normal;
}
.icon-region{
    width: 32px;
    background: #1F8A70;
    padding: 4px;
    color: #FFFFFF;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
}
.regionList{
    list-style-type: none;
    display: inline-block;
}
.regionList li{
    float: left;
    text-align: left;
    width: 24%;
    margin-bottom: 5px;
}
@media (max-width: 800px){
    .regionList li{
        width: 80% !important;
        margin-left: 10%;
    }
}
.icon-region:hover{
    background: #45A48D;
}

.textareaPublicar{
    padding: 5px;
    outline: 0px;
    width: 300px;
    resize: none;
    border: 1px solid #ABABAB;
    font-size: 16px;
    box-sizing: border-box;
}

.error-msj{
    background: #F45B69;
    width: 100%;
    padding: 10px;
    color: #FFFFFF;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 3px;
    border:1px solid #FF283B;
}
.success-msj{
    background: #68C6AF;
    width: 100%;
    padding: 10px;
    color: #FFFFFF;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 3px;
    border:1px solid #1F8A70;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.close {
    color: #FFF;
    float: right;
    font-size: 28px;
    font-weight: bold;
    top: -7px;
    position: relative;
}

.close:hover,
.close:focus {
    color: #003E2E;
    text-decoration: none;
    cursor: pointer;
}
/* Modal Header */
.modal-header {
    padding: 10px;
    background-color: #1F8A70;
    color: white;
    text-align: center;
}
.modal-header .title{
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
}
/* Modal Body */
.modal-body {padding: 2px 16px;box-sizing: border-box;}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    padding: 0;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;

    width: 400px;
    padding-bottom: 20px;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}

@-webkit-keyframes animatetop {
    from {top: -200px; opacity: 0}
    to {top: 50%; opacity: 1}
}

@keyframes animatetop {
    from {top: -200px; opacity: 0}
    to {top: 50%; opacity: 1}
}
.errorInputLogin{
    color: red;
    font-size: 12px;
    float: right;
    position: relative;
    display: inline-block;
}
.notifications-header{
}
.notifications-header .notification{
    background-image: url(../img/notification.png);
    width: 25px;
    height: 26px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 25px;
    margin-top: 3px;
}
.notifications-header .notification:hover{
    cursor: pointer;
    background: url(../img/notification_hover.png);
    background-repeat: no-repeat;
    background-size: 25px;
}
.notifications-header .message{
    background-image: url(../img/message.png);
    width: 27px;
    height: 27px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 27px;
    margin-left: 40px;
    margin-top: 3px;
}
.notifications-header .message:hover{
    cursor: pointer;
    background: url(../img/message_hover.png);
    background-repeat: no-repeat;
    background-size: 27px;
}
.notifications-header .user{
    background-color: #074F57;
    margin-left: 100px;
    padding:5px;
    height: 29px;
    text-shadow: black 0.1em 0.1em 0.2em;
    border-radius: 5px;
    cursor: pointer;
}
.notifications-header .user:hover{
    opacity: 0.8;
}
.notifications-header .user .imgUser{
    background: url(../img/user2.png);
    width: 23px;
    height: 22px;
    background-repeat: no-repeat;
    background-size: 23px;
    float: left;
    position: relative;
    top: -1px;
}
.notifications-header .user .name{
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 2px;
    font-weight: bold;
    float: left;
    color: #FFFFFF;
    font-size: 13px;
    text-shadow: black 0.1em 0.1em 0.2em;
}
.notifications-header .user .name:hover{
    color: #EAEAEA;
}
.menu_user{
    display: none;
    background-color: #fff;
    border: 1px solid #dedede;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 2px rgba(99,99,99,.2);
    box-shadow: 2px 2px 2px rgba(99,99,99,.2);
    right: 0;
    position: relative;
    left: 100px;
    top: 8px;
    z-index: 3;
    width: 150px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu_user::before{
    width:0px;
    height:0px;
    border-left:10px solid transparent; /* izquierda flecha */
    border-right:10px solid transparent; /* derecha flecha */
    border-bottom:10px solid #FFF; /* base flecha y color*/
    font-size:0px;
    line-height:0px;
    content: "";
    position: absolute;
    left: 6px;
    top: -8px;
}
.menu_user li{
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px;
}
.menu_user a{
    text-decoration: none;
    color: #000;
    font-size: 14px;
}
.menu_user li:hover{
    background-color: #A3CDC3;
}
.div-publicar{
    background: #EFE7DA;
    width: 100%;
    border:1px solid #BEBEBE;
    border-radius: 4px;
    padding: 20px;
    box-sizing: border-box;
}
.title-reg{
    padding-top: 15px;
    padding-left: 10px;
    color: white;
}
.error-input{
    background: #fff url("../img/invalid.png") no-repeat 98% center;
    box-shadow: 0 0 5px #d45252;
    border: 1px solid #b03535;
    box-sizing: border-box;
    border-radius: 2px;
    background-color:#b03535; 
}
.error-input:focus{
    background-color: white;
    border: 1px solid #b03535; 
}
.btnForm{
    padding: 8px 40px 8px 40px;
    background: #1F8A70;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    border-radius: 3px;
    outline: 0px;
    border: none;
}
.btnForm:hover{
    background: #18B08B;
    cursor: pointer;
}
.btnForm:active{
    position: relative;
    top: 1px;
}
.btnFormLoad{
    padding: 8px 40px 8px 40px;
    background: #1F8A70 url(../img/load.gif);
    background-position: center;
    background-repeat: no-repeat;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    border-radius: 3px;
    outline: 0px;
    border: none;
}
.btnFormLoad:hover{
    background: #18B08B;
    cursor: pointer;
}
/* Tooltip text */
.tooltipError-form{
    background-color: #F45B69;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
    font-weight: bold;
    /* Position the tooltip text - see examples below! */
    position: fixed;
    z-index: 1;
    display: inline;
    margin-left: 10px;
}

.tooltipError-form::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -7px;
    border-width: 7px;
    border-style: solid;
    border-color: transparent #F45B69 transparent transparent;
}
.inputFileImg {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputFileImg + label {
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;

    width: 100px;
    height: 100px;
    border:1px dashed #6D6D6D;
    background: #F3F3F3 url(../img/camera-icon.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 10px;
    z-index: 1;
}
.inputFileImg + label:hover{
    background: #FFFFFF url(../img/camera-icon.png);
    background-position: center;
    background-repeat: no-repeat;
}
.eliminarImgSubir{
    cursor: pointer;
    float: right;
    position: relative;
    z-index: 2;
}
.menu_cuenta{
    width: 20%;
    margin:0;
    padding: 0;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    float: left;
}
.menu_cuenta li{
    list-style-type: none;
}
.menu_cuenta li a{
    display: block;
    text-decoration: none;
    padding: 10px;
    background: #F45B69;
    color: #FFFFFF;
    box-sizing: border-box;
}
.menu_cuenta li a:hover{
    cursor: pointer;
    background: #FF7F8A;
}
.div-cuentaIndex{
    float: right;
    background: #EFE7DA;
    width: 78%;
    border:1px solid #BEBEBE;
    padding: 20px;
    box-sizing: border-box;
}
.div_form{
    width: 80%;
}
.div_form .row{
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
}
.div_form .row .left{
    float: left;
    width: 35%;
    padding: 7px;
}
.div_form .row .center{
    float: left;
    width: 1%;
    padding: 7px;
}
.div_form .row .right{
    float: left;
    width: 49%;
}
.div-form{
    width: 85%;
    border-radius: 4px;
    margin: 0 auto 0;
    box-sizing: border-box;

}
.reg-header{
    background-color: #1F8A70;
}
.reg-body{
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #1F8A70;
}
.nextBtn{

}
.stepwizard-step p {
    margin-top: 10px;
    color: white;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 50%;
    position: relative;
    margin: 0 auto 0;
}
@media(max-width:768px){
    .stepwizard{
        width: 100%;
    }
    .div-form{
        width: 100%;
        margin-bottom: 15px;
    }
    .reg-body{
        padding: 25px;
    }
    .gal{
        margin-bottom: 15px;
    }
}
.btn-circle button[disabled] {
    background-color: #006666;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle {
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 50% !important;
}
.btn-circle-color{
    background-color: #2c3e50;
}
.btn-circle-color-2{
    background-color: #B3001B !important;
}
.btn-circle :focus{
    outline: none !important;
    border: none !important;
}
.imgContAviso{
    width: 202px;
    height: 202px;
    background: #F7FBFF;
    margin: 0 auto;
}
.linkAvisoIndex{
    text-decoration: none;
    display: block;

}
.linkAvisoIndex:hover{
    background: #EBF2FA;
    cursor: pointer;
}
.linkAvisoIndex label{
    cursor: pointer;
}
.linkAvisoIndex .titleAviso{
    font-size: 19px;
    font-weight: 400;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.cat_index{
    width: 100%;
    text-align: center;
}
@media (max-width: 800px){
    .cat_index a{
        width: 100% !important;
        display: inline-block;
        margin-bottom: 10px;
        border-radius: 4px !important;
    }
}